.datatable-header {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.datatable-header > .column {
    margin: 0.25em;
}

.datatable-header > .wrapper {
    padding: 0.2em;
}

.datatable-header > .filter > input {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.4);
}